.DS_Store/
bo-env_v3/
.venv*
# data/
data/warcraft_evaluations
__pycache__/
results*/
logs/
logs-archive/
retrieve*.sh
send*.sh
temp/
optuna/
params/*
log*
*.log
*.tar.gz
data_/warcraft_evaluations/map3.npy
